@{
    ViewBag.Title = "Upcoming Meeting";
}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Meeting Not Scheduled Yet.</h1>
</div>

<div class="row">
    <div class="span8">
        <p>@Html.ActionLink("View Past Presentations", "PastMeetings")</p>
    </div>
</div>

