@model IEnumerable<LRDNUG.Web.Models.Meeting>

@{
    ViewBag.Title = "Past LRDNUG Meetings";
}

<h2>Past Meetings</h2>

<ul>
    @foreach (var m in Model)
    {
        <li>@m.MonthYear - @m.PresentationTitle by @m.SpeakerName</li>
    }
</ul>
