@model IEnumerable<LRDNUG.Web.Models.Meeting>

@{
    ViewBag.Title = "Past LRDNUG Meetings";
}

<h2>Past Meetings</h2>

<dl class="dl-horizontal">
    @foreach (var m in Model)
    {
        <dt>@m.MonthYear</dt>
        <dd><a href="@Url.Action("Detail", "Meeting", new { m.ID })"><i>@m.SpeakerName</i> - @m.PresentationTitle</a></dd>
    }
</dl>
